
@import '../../assets/global-styles/theme.scss';

.container {
    width: 45%;
    margin: 0 auto;

    h3 {
        text-align: center;
        color: #D4D4D4;
    }

    .btnContainer {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 40px;
        margin-bottom: 70px;
        
        button {
            width: 200px;
            height: 38px;
            border-radius: 24px;
            border: none;
            cursor: pointer;
            background-color: $primary-color;
            color: white;
            font-weight: 700;

        }
        button:hover {
            background-color:#a3c86a ;
        }
    }
    @media screen and (max-width: 768px) {
        width: 90%;
    }
}

.successContainer {
    background-color: #536069;
    width: 700px;
    margin: 70px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 25px;

    h2 {
        font-weight: 400;
        margin-top: 35px;
        color: white;
    }
    img {
        margin-top: 35px;
    }

    .button {
        width: 240px;
        height: 42px;
        font-weight: 600 ;
        font-size: 20px;
        margin-top: 20px;
        margin-bottom: 60px;
    }

    @media screen and (max-width: 760px) {
        width: 90%;
    }
}