@import '../../assets/global-styles/theme.scss';

.IsEmptyContainer {
    margin: 10% 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;

    h2 {
        color: $light-text;
    }
    p {
        color: $deemphasized-text-color;
        margin: 20px 0;
    }
    @media screen and (max-width: 768px) {
       margin-top: 80px;
       padding: 0 10px;

       p {
           margin-bottom: 40px;
       }

    }
}

.createWatchlistBtn {
    @media screen and (max-width: 768px) {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 300px;
    }
}
.button {
    background-color: $primary-color !important;
    width: 100% !important;
    font-size: 16px;
    border-radius: 12px !important;
    padding: 10px 100px !important;
    margin-top: 20px !important;
    height: 55px;

    @media screen and (max-width: 768px) {
        font-size: 16px !important;
        padding: 0 0 !important;
        width: 200% !important;
        margin: 0 auto !important;
    }
}

.submitButton {
    background-color: $primary-color !important;
    text-transform: capitalize;
    padding: 8px 20px;
    color: $light-text;
}

.notEmptyContainer {
    padding: 0 10%;
}

.title {
    padding-right: 300px;
    @media screen and (max-width: 768px) {
        font-size: 16px;
        padding-right: 120px;
    }
}
