@import "../../../../assets/global-styles/theme.scss";

.container {
    margin: 25px 0;
    margin-left: 12px;
    background-color: #474D59;
    padding: 10px 20px;

    h3 {
        color: $light-text;
        font-weight: 400;
    }

    .comment {
        color: #d4d4d4;
        font-weight: 200;
    }

    .date {
        color: #d4d4d4;
        font-weight: 400;
    }
}

.notPaidContainer {
    margin: 25px 0;
    margin-left: 12px;
    background-color: #474D59;
    padding: 10px 20px;
    backdrop-filter: blur(20px);
    h3 {
        color: transparent;
        text-shadow: 0 0 8px #fff;
        font-weight: 400;
    }

    .comment {
        color: transparent;
        text-shadow: 0 0 8px #d4d4d4;
        font-weight: 200;
    }

    .date {
        color: transparent;
        text-shadow: 0 0 8px #d4d4d4;
        font-weight: 400;
    }
}