
    .box {
        display: flex;
        justify-content: space-around;
        align-items: center !important;
        padding-top: 30px !important;
    
        p {
            color: #D4D4D4;
            font-size: 14px;
        }
    }
